
<div id="contact">

    <a id="contact-detail" >
        <p>Contacto Nro {{contacto().id}} {{contacto().firstName}}
            @if(contacto().isFavorite){
                <!-- FAV -->
            }
        </p>
    </a>
    <div id="contact-buttons">
        <!-- <button class="edit-button">editar</button> -->
        <a class="edit-button" [routerLink]="['/contacts',contacto().id,'edit']">Editar</a>
        <!-- <button id="boton-borrar" (click)="contactsService.deleteContact(contacto())">Borrar</button> -->
        <button id="boton-borrar" (click)="showDeleteModal()">Borrar</button>
    </div>
</div>

