#contact{
    display: flex;
    justify-content: space-between;
    width: 82vw;
    height: 40px;
    display: flex;
    // justify-content: center;
    align-items: center;
    border: 1px solid lightblue;
    padding-left: 10px;
    border-radius: 15px;
    // margin: 15px;
    
    background-color: rgb(43, 42, 42);
    color: white;
}
#contact:hover{
    transition: 0.2s;
    width: 82vw;
    height: 50px;
    margin-left: 10px;
    font-weight: 500;
    font-size: larger;
}


#boton-borrar{
    border: 1px solid lightblue;
    border-radius: 10px;
    color: rgb(44, 44, 44);
    background-color: lightblue;
    margin-right: 5px;
    height: 25px;
}
#boton-borrar:hover{
    background-color: rgb(43, 42, 42);
    color: lightblue;
}

.edit-button{
    border: 1px solid lightblue;
    border-radius: 10px;
    color: rgb(44, 44, 44);
    background-color: lightblue;
    margin-right: 5px;
    height: 25px;
    
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    
}
.edit-button:hover{
    background-color: rgb(43, 42, 42);
    color: lightblue;
}

#contact-buttons{
    display: flex;
    align-items: center;
}
