#section-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/minimalist grey flow wallpaper in 4k for desktop.jpg');
    height: calc(100vh - 50px);
    overflow-y: scroll;
}
.message{
    color: black;
    font-size: x-large;
    font-weight: 500;
    border: 1px solid lightblue;
    border-radius: 50px;
    background-color: lightblue;
    padding: 10px;
    margin: 15px;
    text-align: center;
}