<div class="fixed-container">
    <h1 class="fixed-title">AgendaTUP</h1>
    <input id="buscar-logged" type="text" placeholder="Buscar">
</div>

<div id="full-layout">
    <div id="nav-bar-container">
        <nav id="fixed-nav-bar">
            <a routerLink="/contact-list-page" class="page-select" >Contactos ></a>
            <a routerLink="/group-list-page"  class="page-select" >Grupos ></a>
        </nav>
        <!-- <a id="salir" (click)="this.authService.logout()">Salir</a> -->
        <a id="salir" (click)="this.showLogoutModal()">Logout</a>
    </div>
    <div id="router-outlet">
        <router-outlet/>
    </div>
</div>
