nav{
    // background-color: grey;
    display: flex;
    flex-direction: column;
}
.fixed-title{
  font-size: larger;
  font-weight: 500;
  // border-bottom: 1px solid lightblue;
  height: 50px;
  background-color: rgb(43, 42, 42);
  padding-left: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: lightblue;
}
// #full-layout{
//     display: flex;
//     // justify-content: space-between;
//     gap: 500px;
// }
// #router-outlet{
//     width: 70%;
// }
// #nav-bar-container{
//     width: 30%;
// }
#full-layout {
  display: flex;
}
#nav-bar-container {
  width: 200px;
}
#router-outlet {
  flex: 1;
}

#nav-bar-container {
    --header-height: 50px;
    --nav-height: calc(100vh - var(--header-height));
    background-color: rgb(43, 42, 42);
    width: 150px;
    height: var(--nav-height);
    padding-left: 15px;
    border-right: 1px solid lightblue;
    font-size: larger;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#fixed-nav-bar{
  gap: 30px;
}
.page-select{
  border: 1px solid black;
  border-radius: 70px;
  background-color: lightblue;
  color: rgb(41, 40, 40);
  margin-top: 15px;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.page-select:hover{
  background-color: rgb(41, 40, 40);
  color: lightblue;
  border: 1px solid lightblue;
}
.fixed-container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 42, 42);
  border-bottom: 1px solid lightblue;
}
#buscar-logged{
  border: 1px solid lightblue;
    
  border-radius: 50px;
  height: 30px;
  color: white;
    
}
#salir{
  // color: rgb(43, 42, 42);
  // text-decoration: none;
  // cursor: pointer;
  // border: 1px solid lightblue;
  // border-radius: 15px;
  // background-color: lightblue;
  // height: ;
  border: 1px solid black;
  border-radius: 70px;
  background-color: lightblue;
  color: rgb(41, 40, 40);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#salir:hover{
  background-color: rgb(41, 40, 40);
  color: lightblue;
  border: 1px solid lightblue;
}