<div id="add-contact-container">
    <div id="page-title">
        @if(idContacto()){
            Editar contacto.    
        }@else {
            Crear contacto.
        }
    </div>
    <div>
        <div id="form-container">

            
            <form (ngSubmit)="handleFormSubmission(newContactForm.value)" #newContactForm="ngForm">
                <div class="contact-input">
                    <label for="first-name">Nombre*</label>
                    <input class="input-box" type="text" name="firstName" id="first-name" ngModel required="true" maxlength="50"
                    #firstName="ngModel">
                    @if (firstName.dirty && firstName.invalid) {
                        <p class="error">El nombre es obligatorio</p>
                    }
                </div>
                <div class="contact-input">
                    <label for="last-name">Apellido</label>
                    <input class="input-box" type="text" name="lastName" id="last-name" ngModel maxlength="50">
                </div>
                <div class="contact-input">
                    <label for="email">Email</label>
                    <input class="input-box" type="text" name="email" id="email" ngModel maxlength="50">
                </div>
                <div class="contact-input">
                    <label for="address">Direccion</label>
                    <input class="input-box" type="text" name="address" id="address" ngModel maxlength="50">
                </div>
                <div class="contact-input">
                    <label for="number">Telefono*</label>
                    <input class="input-box" type="text" name="number" id="number" ngModel maxlength="50" required="true" minlength="4"
                    #phone="ngModel">
                    @if (phone.dirty && phone.invalid) {
                        <p class="error">El telefono es obligatorio y tiene que tener al menos 4 caracteres y no mas de 50</p>
                    }
                </div>
                <div class="contact-input">
                    <label for="company">Compania</label>
                    <input class="input-box" type="text" name="company" id="company" ngModel maxlength="50">
                </div>
                <div class="contact-input">
                    <label for="description">Descripcion</label>
                    <input class="input-box" type="text" name="description" id="description" ngModel>
                </div>
                <div class="contact-input">
                    <label for="image">Url imagen</label>
                    <input class="input-box" type="text" name="image" id="image" ngModel>
                </div>
                <div id="bottom-button">
                    <button class="confirm-button" [disabled]="newContactForm.invalid || solicitudABackEnCurso">Confirmar</button>
                    <button class="confirm-button" routerLink="/contact-list-page">Volver</button>
                </div>
            </form>
        </div>
            
    </div>
</div>